[Unit]
Description=Node.js Backend App
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/backend
ExecStart=/usr/bin/node /home/azureuser/backend/index.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
