name: Deploy MERN (Sparse Sync)
on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

- name: Sync Frontend Only
        run: |
          az vm run-command invoke \
            --resource-group <YOUR_RG_NAME> \
            --name frontend-vm \
            --command-id RunShellScript \
            --scripts "
              # Go to the react folder
              cd /home/azureuser/app/frontned-app
              
              # Install and Build
              npm install
              npm run build
              
              # Clean the destination and copy NEW files
              sudo rm -rf /var/www/html/*
              sudo cp -r build/* /var/www/html/
              
              # Fix permissions so Nginx can see them
              sudo chown -R www-data:www-data /var/www/html
              sudo systemctl restart nginx
            "

  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sync Backend Only
        run: |
          az vm run-command invoke \
            --resource-group curd \
            --name backend-vm \
            --command-id RunShellScript \
            --scripts "
              mkdir -p /home/azureuser/app
              cd /home/azureuser/app
              if [ ! -d '.git' ]; then
                git init
                git remote add origin https://github.com/asfuu47/curd
                git config core.sparseCheckout true
                echo 'backend/' >> .git/info/sparse-checkout
              fi
              git pull origin main
              cd backend
              npm install
              sudo cp backend-app.service /etc/systemd/system/
              sudo systemctl daemon-reload
              sudo systemctl restart backend-app
            "
